<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Portal de Cursos</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css"/>
    <script type="text/javascript" src="/static/assets/js/jquery-1.11.0.min.js" ></script>
    <script type="text/javascript" src="/static/assets/js/bootstrap.js" ></script>
</head>
<body>

    <nav class="nav navbar-default navbar-fixed-top navbar-inverse" role="">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/curso/rest/listar_html">Cursos</a></li>
            </ul>

            <ul class="nav navbar-right" style="margin:5px 0 0 0;">
                {% if _usuario_logado %}
                    <li class="pull-left" style="color: #FFF;margin: 0 16px 0 0;line-height: 37px;"><p>{{ _usuario_logado.nome }}</p></li>
                    <li class="pull-left" ><a href="{{ _logout_url }}" class="btn btn-default btn-danger" ><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
                {% else %}
                    <li class="pull-left"><a href="{{ _login_url }}" class="btn btn-default btn-success"  > Login com Gmail</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>

    <br/>
    <br/>
    <br/>

    <div class="col-lg-1"></div>
    <div class="col-lg-10">
    {% block body %}

    {% endblock %}
    </div>
    <div class="col-lg-1"></div>
</body>
</html>