{% extends 'templates/layout/default.html' %}
{% block body %}

        <h1>Listagem dos cursos <a href="/curso/crud/add" class="btn btn-default btn-success pull-right">Adicionar</a></h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Listagem de cursos</li>
        </ol>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <td><b>Cod.</b></td>
                    <td><b>Curso</b></td>
                    <td><b>Valor</b></td>
                </tr>
            </thead>
            <tbody>
                {% for curso in cursos %}
                    <tr>
                        <td>{{ curso.id }}</td>
                        <td>{{ curso.nome }}</td>
                        <td>R$ {{ curso.preco }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


{% endblock %}