<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <form role="form" method="post" action="{{ salvar_curso }}">
      <div class="form-group">
        <label for="exampleInputEmail1">Nome: </label>
        <input type="text" class="form-control" name="nome">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Preço: </label>
        <input type="text" class="form-control" name="preco">
      </div>

      <button type="submit" class="btn btn-default">Adicionar</button>
    </form>

</body>
</html>